<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSJTX_DX_Alerter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSJTX_DX_Alerter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WSJTX_DX_Alerter.Properties.Settings>
            <setting name="alltxtLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="xmlLogLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlertUnconfirmed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogHits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuietMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThresholdValue" serializeAs="String">
                <value>-17</value>
            </setting>
        </WSJTX_DX_Alerter.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WSJTX_DX_Alerter.Properties.Settings>
            <setting name="SMTPserver" serializeAs="String">
                <value>/nRvkUekipS7ZuZ/B5SjAVoqNNhKbvj1NXB+un421GknkzmZ3pB59qp5hLDpIE44</value>
            </setting>
            <setting name="SMTPport" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="EmailPWD" serializeAs="String">
                <value>fag+M+D3BHlyfgu7BWBy5A==</value>
            </setting>
            <setting name="EmailUID" serializeAs="String">
                <value>EmMSqih1syzYUgo5ceTqSwLSgsCLuU8DH753ofSCz25gFybqR1418MN89fJicsPwAwk+dSbc7umEVTbJD2n2jQ==</value>
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>EmMSqih1syzYUgo5ceTqSwLSgsCLuU8DH753ofSCz25gFybqR1418MN89fJicsPwAwk+dSbc7umEVTbJD2n2jQ==</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>S8JvM4iWuFkdNSnVJ2aZ9ippfDKjuZjmpEWx2YnVZobrAmqwELfbyRjxdChbQLwTQtH2wqycpSI=</value>
            </setting>
        </WSJTX_DX_Alerter.Properties.Settings>
    </applicationSettings>
</configuration>